<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>账户</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 账户管理 <span class="c-gray en">&gt;</span> 账户 <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form method="get" action="/search" id="search_form">
            <input type="text" class="input-text" autocomplete="off" style="width:250px" placeholder="输入管理员昵称或账户名" id="search_text" name="q">
		    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </form>
    </div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="databan()" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量禁用</a> <a id="add-btn" href="javascript:;" onclick="admin_add('添加账户','admin-add.html','800','800')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加账户</a> <a onclick="changeView()" href="javascript:;" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe600;</i> 过滤显示</a></span> <span class="r">共有数据：<strong id="data_length"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead class="tb-title">
			<tr>
				<th scope="col" colspan="12">用户列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40" style="display: none">ID</th>
				<th width="100">账户</th>
                <th width="100">昵称</th>
				<th width="130" style="display: none">邮箱</th>
				<th width="100">角色</th>
                <th width="150">上级账户</th>
                <th >备注</th>
                <th width="130">可用软件</th>
                <th width="100">剩余天数</th>
				<th width="130">加入日期</th>
                <th width="130">截止日期</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody id="accounts_manager">
        <!--
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>1</td>
				<td>admin</td>
				<td>admin@mail.com</td>
				<td>超级管理员</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status"><span class="label label-success radius">已启用</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-edit.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			<tr class="text-c">
				<td><input type="checkbox" value="2" name=""></td>
				<td>2</td>
				<td>zhangsan</td>
				<td>admin@mail.com</td>
				<td>栏目编辑</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status"><span class="label radius">已停用</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_start(this,'10001')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-edit.html','2','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			-->
		</tbody>
	</table>
    <div id="pageNav" class="pageNav"></div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
String.prototype.format = function (param) {
            var reg = /{([^{}]+)}/gm;
            return this.replace(reg, function (match, name) {
                return param[name];
            });
        };
var roles = {
        1: '管理员',
        2: '后台操作员',
        3: '代理商',
        4: '广告主',
        5: '广告操作员',
        6: '临时帐号'
    };

var defult_load_role = 1;

function set_content(array_data) {
    var rel_con = '';
                    var is_use_func,is_use_title,use_text,success_label;
                    for (var i = 0; i < array_data.length; i++) {
                        is_use_func = array_data[i]['is_in_use'] ? 'admin_stop':'admin_start';
                        is_use_title = array_data[i]['is_in_use'] ? '停用':'启用';
                        use_text = array_data[i]['is_in_use'] ? '已启用' : '已停用';
                        success_label = array_data[i]['is_in_use'] ? 'label-success' : '';

                        var fornums_data = array_data[i]['fornums'],
                            fornums_str = '';
                        for(var j=0;j<fornums_data.length;j++){
                            fornums_str += fornums_data[j]['fornum_name'];

                            if (fornums_data[j]['app_type']==1){
                                fornums_str+='(手机端)';
                            }
                            if(j!=(fornums_data.length - 1)){
                                fornums_str+=',';
                            }
                        }
                        var parent_name = array_data[i]['parent_role']!=-1 ?  array_data[i]['parent_name']+'('+roles[array_data[i]['parent_role']]+')' : '';

                        rel_con += '<tr class="text-c">\
                                        <td><input type="checkbox" value="'+array_data[i]['id']+'" name=""></td>\
                                        <td style="display: none">'+array_data[i]['id']+'</td>\
                                        <td>'+array_data[i]['username']+'</td>\
                                        <td>'+array_data[i]['name']+'</td>\
                                        <td style="display: none">'+array_data[i]['email']+'</td>\
                                        <td>'+roles[array_data[i]['role']]+'</td>\
                                        <td>'+parent_name+'</td>\
                                        <td>'+array_data[i]['remarks']+'</td>\
                                        <td>'+fornums_str+'</td>\
                                        <td>'+array_data[i]['remain_days']+'</td>\
                                        <td>'+array_data[i]['join_date']+'</td>\
                                        <td>'+array_data[i]['end_date']+'</td>\
                                        <td class="td-status"><span class="label {success} radius">{text}</span></td>\
                                        <td class="td-manage">\
                                        <a style="text-decoration:none" onClick="{func}(this,\' '+array_data[i]['id']+' \')" href="javascript:;" title="{title}">\
                                        <i class="Hui-iconfont">&#xe615;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit(\'管理员编辑\',\'admin-edit.html\',\''+array_data[i]['id']+'\',\'800\',\'800\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,\''+array_data[i]['id']+'\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>\
                                    </tr>;';

                        rel_con = rel_con.format({'func':is_use_func,'title':is_use_title,'text':use_text,'success':success_label});
                    }
                    $('#accounts_manager').html(rel_con);
}

function load_admin_data(p) {
    // 加载数据
    $.getJSON('/users/slaves',{page:p}, function (request) {
    // 请求成功
    if (request.code == "0") {
        $('#data_length').html(request.data_length);
        laypage({
            cont:'pageNav',
            pages:request.pages,
            curr:1,
            jump:function (e) {
                $.getJSON('/users/slaves',{page:e.curr},function (request) {
                    if(request.code==0){
                    var array_data = request.data;
                    set_content(array_data);
                }
            })
        }
    })
}
});

}

function load_by_role(p,role) {
    // 加载数据
    $.post('/users/?page='+ p ,JSON.stringify({'role':role}), function (request) {
    // 请求成功
    if (request.code == "0") {
        $('#data_length').html(request.data_length);
        laypage({
            cont:'pageNav',
            pages:request.pages,
            curr:1,
            jump:function (e) {
                $.post('/users/?page='+e.curr ,JSON.stringify({'role':role}),function (request) {
                    if(request.code==0){
                    var array_data = request.data;
                    set_content(array_data);
                }
            })
        }
    })
}
});

}

var isChanged = false;
function changeView() {
    var tb_title = $('.tb-title');
    if(isChanged){
        tb_title.children('tr:eq(1)').remove();
        load_admin_data(1);
        isChanged = false;
        return
    }

    var opt = '';
    for(var k in roles){
        opt+='<option value="{key}">{value}</option>'.format({'key':k,'value':roles[k]});
    }
    var sel_con = '<tr><th scope="col" colspan="2">选择角色:</th><th scope="col" colspan="12"><select class="select role_sel" name="user" size="1" style="color: #00a0e9">'+opt+'</select> </th></tr>';
    tb_title.children('tr:eq(0)').after(sel_con);
    isChanged = true;
    load_by_role(1,defult_load_role);
    $('.role_sel').change(function () {
                var role=$(this).children('option:selected').val();
                load_by_role(1,role);
            });

}
$('.btn-refresh').click(function () {
    if (isChanged){
        var role = $('.role_sel').children('option:selected').val();
        load_by_role(1,role)
    }else {
        load_admin_data(1);
    }
});

/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
$(function () {
    $.getJSON('/isLogin', {}, function (request) {
        if (request.code == 0) {
            if (request.user_role > 4) {
                layer.msg('临时账号和广告操作员不允许登陆', {icon: 2, time: 1000}, function () {
                    $.get('/users/loginout', function (request) {
                        location.href = 'login.html'
                    })
                })
            } else {
                if(request.user_role > 2){
                    $('.btn-danger').remove();
                   roles = {6:'临时账号'};
                   defult_load_role = 6
                }
                load_admin_data(1);
                if (request.user_role == 4) {
                    $('#add-btn').remove();
                }
            }
        } else {
            layer.msg('请先去登陆', {icon: 2, time: 1000}, function () {
                ReloadPage();
            });
        }
    });

    $("#search_form").submit(function (envent) {
        envent.preventDefault();

        var form = $(this);
        var search_text = $('#search_text').val();
        $.get('/search?q='+search_text,{},function (request) {
            if(request.code==0){
                    var array_data = request.data;
                    set_content(array_data);
                }else{
            }
        })
    });
});
/*批量删除*/
function datadel() {
        var del_ids = [];
        $('input:checkbox:checked').each(function () {
            var id = this.value;
            if (id != '') {
                del_ids.push(id);
            }
        });
        if (del_ids.length == 0) {
            layer.msg('您还未选中要删除的账户',{icon:1,time:1000});
            return
        }

    layer.confirm('确认要删除吗？',function(index) {
        $.ajax({
            type: 'post',
            url: '/users/slaves/remove',
            data: JSON.stringify({'id': del_ids}),
            dataType: 'json',
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.message, {icon: 1, time: 1000}, function () {
                        $('.btn-refresh').click();
                    });
                }else{
                    layer.msg(data.message,{icon:2,time:1000});
                }
            },
            error: function (data) {
                console.log(data.message);
            },
        });
    });
}
/*批量禁用*/
function databan() {

        var ids = [];
        $('input:checkbox:checked').each(function () {
            var id = this.value;
            if (id != '') {
                ids.push(id);
            }
        });
        if (ids.length == 0) {
            layer.msg('您还未选中要禁用的账户',{icon:1,time:1000});
            return
        }
    layer.confirm('确认要禁用吗？',function(index) {
        $.getJSON('/users/slaves/remove',{'id':JSON.stringify(ids),'operate':'ban'}, function (data) {
                if (data.code == 0) {
                    layer.msg(data.message, {icon: 1, time: 1000}, function () {
                        $('.btn-refresh').click();
                    });
                }else{
                    layer.msg(data.message, {icon: 2, time: 1000});
                }
        });
    });
}

/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'post',
			url: '/users/slaves/remove',
            data:JSON.stringify({'id':id}),
			dataType: 'json',
			success: function(data){
			    if(data.code==0){
				    layer.msg(data.message,{icon:1,time:1000},function () {
                        $('.btn-refresh').click();
                    });
                }else{
                    layer.msg(data.message,{icon:2,time:1000});
                }
			},
			error:function(data) {
				console.log(data.message);
			},
		});
	});
}

/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
    var url_ = url+'?id='+id;
	layer_show(title,url_,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.getJSON('/users/slaves/remove',{'id':id,'operate':'ban'},function (request) {
            if(request.code==0){
                $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,'+id+')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		        $(obj).remove();
                layer.msg('已停用!',{icon: 5,time:1000});
            }else{
                layer.msg(request.message,{icon: 5,time:1000});
            }
        });
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.getJSON('/users/slaves/remove',{'id':id,'operate':'in-use'},function (request) {
            if(request.code==0){
                $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,'+id+')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                $(obj).remove();
                layer.msg('已启用!', {icon: 6,time:1000});
            }else{
                layer.msg(request.message, {icon: 6,time:1000});
            }
        });
	});
}
</script>
</body>
</html>