<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>程序管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 账户管理 <span
        class="c-gray en">&gt;</span> 程序管理 <a class="btn btn-success btn-refresh radius r"
                                              style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <!-- <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div> -->
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="databan()" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量禁用</a> <a href="javascript:;" onclick="add('添加程序','program-add.html','800','400')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加程序</a> <a href="javascript:;" onclick="changeView()" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe600;</i> 过滤显示</a></span> <span class="r">共有数据：<strong id="data_length"></strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead class="tab-title">
        <tr>
            <th scope="col" colspan="10">程序列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="40">ID</th>
            <th width="80">标题</th>
            <th width="80">所属论坛</th>
            <th>版本号</th>
            <th width="260">描述信息</th>
            <th width="130">启用日期</th>
            <th width="100">是否已启用</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody id="accounts_manager">
        <!--
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>1</td>
				<td>admin</td>
				<td>admin@mail.com</td>
				<td>超级管理员</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status"><span class="label label-success radius">已启用</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-edit.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			<tr class="text-c">
				<td><input type="checkbox" value="2" name=""></td>
				<td>2</td>
				<td>zhangsan</td>
				<td>admin@mail.com</td>
				<td>栏目编辑</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status"><span class="label radius">已停用</span></td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_start(this,'10001')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-edit.html','2','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			-->
        </tbody>
    </table>
    <div id="pageNav" class="pageNav"></div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">


var fornum_id = 0;


    String.prototype.format = function (param) {
        var reg = /{([^{}]+)}/gm;
        return this.replace(reg, function (match, name) {
            return param[name];
        });
    };
    function load_admin_data(p) {
        // 加载数据
        $.getJSON('/products/program', {page: p}, function (request) {
            // 请求成功
            if (request.code == "0") {
                $('#data_length').html(request.data_length);
                laypage({
                    cont: 'pageNav',
                    pages: request.pages,
                    curr: 1,
                    jump: function (e) {
                        $.getJSON('/products/program', {page: e.curr}, function (request) {
                            if (request.code == 0) {
                                var array_data = request.data;
                                var rel_con = '';
                                var is_use_func, is_use_title, use_text, success_label;
                                for (var i = 0; i < array_data.length; i++) {
                                    is_use_func = array_data[i]['is_active'] ? 'admin_stop' : 'admin_start';
                                    is_use_title = array_data[i]['is_active'] ? '停用' : '启用';
                                    use_text = array_data[i]['is_active'] ? '已启用' : '已停用';
                                    success_label = array_data[i]['is_active'] ? 'label-success' : '';

                                    rel_con += '<tr class="text-c">\
                                        <td><input type="checkbox" value="{id}" name=""></td>\
                                        <td>{id}</td>\
                                        <td>{p_title}</td>\
                                        <td>{fornum_name}</td>\
                                        <td>{version}</td>\
                                        <td>{description}</td>\
                                        <td>{join_date}</td>\
                                        <td class="td-status"><span class="label {success} radius">{text}</span></td>\
                                        <td class="td-manage">\
                                        <a style="text-decoration:none" onClick="{func}(this,\' {id} \')" href="javascript:;" title="{title}">\
                                        <i class="Hui-iconfont">&#xe615;</i></a> <a title="编辑" href="javascript:;" onclick="edit(\'程序信息编辑\',\'program-edit.html\',\'{id}\',\'800\',\'400\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="del(this,\'{id}\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>\
                                    </tr>;';

                                    rel_con = rel_con.format({
                                        'func': is_use_func,
                                        'title': is_use_title,
                                        'text': use_text,
                                        'success': success_label,
                                        'id': array_data[i]['id'],
                                        'p_title': array_data[i]['title'],
                                        'fornum_name': array_data[i]['fornum_name'],
                                        'version': array_data[i]['version'],
                                        'description': array_data[i]['description'],
                                        'join_date': array_data[i]['join_date']
                                    });
                                }
                                $('#accounts_manager').html(rel_con);
                            }
                        });
                    }
                });
                keydown = false;
            }
        });
    }

    function load_sel_data(p,f) {
        // 加载选择数据
        $.getJSON('/products/program', {'page': p,'fornum_id':f}, function (request) {
            // 请求成功
            if (request.code == "0") {
                $('#data_length').html(request.data_length);
                laypage({
                    cont: 'pageNav',
                    pages: request.pages,
                    curr: 1,
                    jump: function (e) {
                        $.getJSON('/products/program', {page: e.curr,'fornum_id':f}, function (request) {
                            if (request.code == 0) {
                                var array_data = request.data;
                                var rel_con = '';
                                var is_use_func, is_use_title, use_text, success_label;
                                for (var i = 0; i < array_data.length; i++) {
                                    is_use_func = array_data[i]['is_active'] ? 'admin_stop' : 'admin_start';
                                    is_use_title = array_data[i]['is_active'] ? '停用' : '启用';
                                    use_text = array_data[i]['is_active'] ? '已启用' : '已停用';
                                    success_label = array_data[i]['is_active'] ? 'label-success' : '';

                                    rel_con += '<tr class="text-c">\
                                        <td><input type="checkbox" value="{id}" name=""></td>\
                                        <td>{id}</td>\
                                        <td>{p_title}</td>\
                                        <td>{fornum_name}</td>\
                                        <td>{version}</td>\
                                        <td>{description}</td>\
                                        <td>{join_date}</td>\
                                        <td class="td-status"><span class="label {success} radius">{text}</span></td>\
                                        <td class="td-manage">\
                                        <a style="text-decoration:none" onClick="{func}(this,\' {id} \')" href="javascript:;" title="{title}">\
                                        <i class="Hui-iconfont">&#xe615;</i></a> <a title="编辑" href="javascript:;" onclick="edit(\'程序信息编辑\',\'program-edit.html\',\'{id}\',\'800\',\'400\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="del(this,\'{id}\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>\
                                    </tr>;';

                                    rel_con = rel_con.format({
                                        'func': is_use_func,
                                        'title': is_use_title,
                                        'text': use_text,
                                        'success': success_label,
                                        'id': array_data[i]['id'],
                                        'p_title': array_data[i]['title'],
                                        'fornum_name': array_data[i]['fornum_name'],
                                        'version': array_data[i]['version'],
                                        'description': array_data[i]['description'],
                                        'join_date': array_data[i]['join_date']
                                    });
                                }
                                $('#accounts_manager').html(rel_con);
                            }
                        })
                    }
                });
                keydown = false;
            }
        });
    }

    $('.btn-refresh').click(function () {
        if(isChanged){
            fornum_id= $('.fornum_sel').children('option:selected').val();
            load_sel_data(1,fornum_id);
        }else{
            load_admin_data(1);
        }
    });

var isChanged = false;
// 切换加锁标志位
var keydown = false;
    function changeView() {
        if(keydown){
            return 0
        }
        keydown = true;
        var tb_title = $('.tab-title');
        if (isChanged) {
            isChanged = false;
            tb_title.children('tr:eq(1)').remove();
            $('.btn-refresh').click();
            $("#pageNav").show();

        } else {
            isChanged = true;
            $("#pageNav").hide();
            // 请求到所有的论坛信息
            $.getJSON('/script/fornum', {'all': true}, function (request) {
                if(request.code==0){
                    var opt = '';
                    var data = request.data;
                    for (var i = 0; i < data.length; i++) {
                        opt += '<option value="{fornum_id}">{fronum_name}</option>'.format({
                            'fornum_id': data[i]['id'],
                            'fronum_name': data[i]['fornum_name']
                        });
                    }
                    var sel_con = '<tr><th scope="col" colspan="2">选择论坛:</th><th scope="col" colspan="8"><select class="select fornum_sel" name="fornum_id" size="1" style="color: #00a0e9">' + opt + '</select> </th></tr>';
                    tb_title.children('tr:eq(0)').after(sel_con);
                    fornum_id = data[0]['id'];
                    load_sel_data(1,fornum_id);
                    $('.fornum_sel').change(function () {
                    fornum_id = $(this).children('option:selected').val();
                    load_sel_data(1,fornum_id);
                    });

                }
            });
        }

    }
    /*
     参数解释：
     title	标题
     url		请求的url
     id		需要操作的数据id
     w		弹出层宽度（缺省调默认值）
     h		弹出层高度（缺省调默认值）
     */
    $(function () {
        $.getJSON('/isLogin', {}, function (request) {
            if (request.code == 0) {
                if (request.user_role > 2) {
                    layer.msg('非后台工作人员禁止使用此功能', {icon: 2, time: 1000}, function () {
                        $.get('/users/loginout', function (request) {
                            location.href = 'login.html';
                        })
                    })
                } else {
                    load_admin_data(1);
                }
            } else {
                layer.msg('请先去登陆', {icon: 2, time: 1000}, function () {
                    ReloadPage();
                });
            }
        });

    });
    /*批量删除*/
    function datadel() {
        var del_ids = [];
        $('input:checkbox:checked').each(function () {
            var id = this.value;
            if (id != '') {
                del_ids.push(id);
            }
        });
        if (del_ids.length == 0) {
            layer.msg('您还未选中要删除的账户', {icon: 1, time: 1000});
            return
        }

        layer.confirm('确认要删除这些程序信息吗？', function (index) {
            $.getJSON('/products/program/change', {'id': JSON.stringify(del_ids)}, function (request) {
                if (request.code == 0) {
                    layer.msg('删除成功', {icon: 1, time: 1000}, function () {
                        $('.btn-refresh').click();
                        $('input:checkbox:checked').attr('checked',false);
                    })
                } else {
                    layer.msg(request.message, {icon: 5, time: 1000})
                }
            })
        });

    }
    /*批量禁用*/
    function databan() {

        var ids = [];
        $('input:checkbox:checked').each(function () {
            var id = this.value;
            if (id != '') {
                ids.push(id);
            }
        });
        if (ids.length == 0) {
            layer.msg('您还未选中要禁用的账户', {icon: 1, time: 1000});
            return
        }
        layer.confirm('确认要禁用吗？', function (index) {
            $.getJSON('/products/program/change', {'id': JSON.stringify(ids), 'op': 'ban'}, function (data) {
                if (data.code == 0) {
                    layer.msg('禁用成功', {icon: 1, time: 1000}, function () {
                        $('.btn-refresh').click();
                        $('input:checkbox:checked').attr('checked',false);
                    });
                } else {
                    layer.msg(data.message, {icon: 2, time: 1000});
                }
            });
        });
    }

    /*管理员-增加*/
    function add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*管理员-删除*/
    function del(obj, id) {
                layer.confirm('确认要删除该程序信息吗？', function (index) {
                    $.getJSON('/products/program/change', {'id': id}, function (request) {
                        if (request.code == 0) {
                            layer.msg('删除成功', {icon: 1, time: 1000}, function () {
                                $('.btn-refresh').click()
                            })
                        } else {
                            layer.msg(request.message, {icon: 5, time: 1000})
                        }
                    })
                });
    }

    /*管理员-编辑*/
    function edit(title, url, id, w, h) {
        var url_ = url + '?id=' + id;
        layer_show(title, url_, w, h);
    }
    /*管理员-停用*/
    function admin_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            $.getJSON('/products/program/change', {'id': id, 'op': 'ban'}, function (request) {
                if (request.code == 0) {
                    $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,' + id + ')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
                    $(obj).remove();
                    layer.msg('已停用!', {icon: 5, time: 1000});
                } else {
                    layer.msg(request.message, {icon: 5, time: 1000})
                }
            })
        });
    }

    /*管理员-启用*/
    function admin_start(obj, id) {
        layer.confirm('确认要启用吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.getJSON('/products/program/change', {'id': id, 'op': 'ban'}, function (request) {
                if (request.code == 0) {
                    $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,' + id + ')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!', {icon: 6, time: 1000});
                } else {
                    layer.msg(request.message, {icon: 6, time: 1000});
                }
            });
        });
    }
</script>
</body>
</html>